

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>

            </div>
            <div class="modal-body">

                <form name="form"*ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" name="firstname" class="form-control" placeholder="Enter firstName" [(ngModel)]="form.firstname" >

                    </div>
                    <div class="form-group ">
                        <label>Prenom</label>
                        <input type="text" class="form-control" name="lastname" placeholder="Enter LastName " [(ngModel)]="form.lastname " >
                    </div>
                    <div class="form-group ">
                        <label>nombre de gens</label>
                        <input type="text" class="form-control" name="username" placeholder="Enter Username " [(ngModel)]="form.nbr_gens" >
                    </div>
                    <div class="form-group ">
                        <label>TEL</label>
                        <input type="email" class="form-control" name="email" placeholder=" Enter E-mail " [(ngModel)]="form.phone" >
                    </div>
                   
          
                    <div class="modal-footer">
                        <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button  type="submit" class="btn btn-primary">Add User</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
